<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <style>
        
        .error {
            color: red;
        }
        a {
            color: teal;
            width: 120px;            
        }
        h1 {
            text-align: center;
            color:blue;
        }
        body {
            background-color: lightskyblue;
        }

        </style>
    </head>

{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}
<body>
    <div>
        <a href='/'>Main Blog Page</a>  |  <a href='/newpost'>Add A New Blog</a>  |  <a href='/login'>LogIn</a>  |  <a href='/signup'>Sign Up</a>  |  <a href='/justblogs'>list o' blogs</a>  |  <a href='/logout'>Log Off</a>
        <h1>BLOGZ!</h1>
    </div>
    <hr />


{% block content %}
{% endblock %}
</body>
</html>
