{% extends "base.html" %}

{% block content %}


<div>
    <h2>All Blogs</h2>
</div>
{% if blogs|length == 0 %}
<p>No Blogs Yet</p>
{% else %}

    <ul>
        {% for blog in blogs %}
        
            <h1><a href="/pull_blog?id={{users.id}}">{{blog.title}}</a></h1>
            <h4>{{blog.body}}</h4>
            <h4>Written by <a href = '/userblogs?id={{users.id}}'>{{users.username}}</a></h4>
            <p></p>
        {% endfor %}
        <hr />
    </ul>
<hr />
{% endif %}

{% endblock %}