{% extends "base.html" %}

{% block content %}


<div>
    <h2>All Blogs</h2>
</div>
{% if pairs|length == 0 %}
<p>No Blogs Yet</p>
{% else %}

    <ul>
        {% for pair in pairs %}
            
            <h1><a href="/pull_blog?id={{pair[0].id}}&user_id={{pair[0].user_id}}">{{pair[0].title}}</a></h1>
            <h4>{{pair[0].body}}</h4>
            <h4>Written by <a href = '/userblogs?id={{pair[1].id}}'>{{pair[1].username}}</a></h4>
            <p></p>
        {% endfor %}
        <hr />
    </ul>
<hr />
{% endif %}

{% endblock %}